
hostname: {{ ansible_hostname }}
domain: {{ mattermost_domain }}
version: {{ mattermost_version }}
instance : {{ mattermost_root_instance }}/{{ mattermost_instance_id }}
mattermost_port: {{ mattermost_port }}

data in {{ mattermost_root_instance }}/{{ mattermost_instance_id }}.data
log dest {{ www_log }}/{{ mattermost_instance_id }}
backup prod {{ backup_prod_dir }}/{{ mattermost_instance_id }}
backup prod data {{ backup_prod_dir }}/{{ mattermost_instance_id }}.data

mattermost_instance_id: {{ mattermost_instance_id }}
mattermost_root_instance: {{ mattermost_root_instance }}
mattermost_port: {{ mattermost_port }}
mattermost_user_instance: {{ mattermost_user_instance }}
mattermost_instance_service: {{ mattermost_instance_service }}

mattermost_database_name: {{ mattermost_database_name }}
mattermost_database_user: {{ mattermost_database_user }}
mattermost_database_password: {{ mattermost_database_password }}
