check host {{ mattermost_domain }}  with address {{ mattermost_domain }}

# HTTPS check
    if failed
          port 443 type tcpSSL protocol http
       for 1 times within 1 cycles
       then alert
