[Unit]
Description=Mattermost {{ mattermost_instance_id | mandatory }}
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
ExecStart={{ mattermost_root_instance | mandatory }}/{{ mattermost_instance_id }}/bin/platform
Restart=always
RestartSec=10
WorkingDirectory={{ mattermost_root_instance }}/{{ mattermost_instance_id }}
User={{ mattermost_user_instance | mandatory }}
Group={{ mattermost_user_instance }}
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target

