# ignore eveything
/*

# except
!.gitgnore
!README.md
!hosts.example

# except roles directory with no exception
!roles/

# except group_vars directory
!group_vars/

# ignore everything in group_vars directory
group_vars/*

# except base server directory
!group_vars/base_server/
