# ignore eveything
/*

# include
!.gitgnore
!README.md
!hosts.example

# include roles directory with no exception
!roles/

# include group_vars directory
!group_vars/

# ignore everything in group_vars directory
group_vars/*

# include common groups
!group_vars/base_server

# include host_vars directory
!host_vars/

# ignore everything in host_vars directory
host_vars/*

# include example file
!host_vars/host.example.yml
