
### hosts
# host variables can de defined also in host_vars/prodhost1.yml etc...

prodhost1 hostvar=...
prodhost2 hostvar=...

testhost1 hostvar=...

### groups
# to complete

[test]
testhost1

[prod]
prodhost1
prodhost2

# groups covered by platform role
[apache2_server]
prodhost1
testhost1

[nginx_server]
prodhost2

# etc...

### group hierarchy

[base_server:children]
prod
test

[secret:children]
base_server