check process nginx with pidfile /var/run/nginx.pid
    start program = "/bin/systemctl start nginx.service"
    stop  program = "/bin/systemctl stop nginx.service"
    if failed host 127.0.0.1 port 443 then restart