[{{ app_program | mandatory }}:{{ log_type }}:{{ app_instance_id }}]

hostname = {{ ansible_hostname | mandatory }}
domain = {{ app_domain | mandatory }}
app_instance_id = {{ app_instance_id | mandatory }}

rev_proxy = {{ rev_proxy | mandatory }}
old_version = {{ app_oldversion | mandatory }}
version = {{ app_version | mandatory }}
version_backup = {{ backup_version_dir }}/{{ app_instance_id }}/{{ app_oldversion }}

database_type = {{ database_type | mandatory }}
database_name = {{ database_name | mandatory }}

