check program {{ app_domain }} with path

# by default timeout = 3 seconds, use monit_timeout variable to change

"{{ base_root_opt }}/http_check.py -t {{ monit_timeout | default(3) }} -c {{ monit_expect | quote }} {{ monit_request | quote }}"

if status != 0 then alert