# Note: the spaces around the equal sign ('=') are optional.
when = 01 at {{ backup_month_conf_time }}

rsync -aAx --del {{ backup_prod_dir }}/ {{ backup_base_dir }}/Month
rc=$?; if [[ $rc != 0 ]]; then error "mensuelle prod rsync" ; fi
