
hostname: {{ ansible_hostname }}
domain: {{ mattermost_domain }}
old version: {{ mattermost_oldversion }}
version: {{ mattermost_version }}
verion backup: {{ backup_version_dir }}/{{ mattermost_instance_id }}/{{ mattermost_oldversion }}
instance : {{ mattermost_root_instance }}/{{ mattermost_instance_id }}

