# Note: the spaces around the equal sign ('=') are optional.
when = everyday at {{ backup_app_service_conf_time | mandatory }}

rsync -aAx --del {{ nextcloud_root }}/{{ nextcloud_instance_id | mandatory }} {{ backup_prod_dir | mandatory }}/{{ nextcloud_instance_id }}
rc=$?; if [[ $rc != 0 ]]; then error "app" ; fi

#rsync -aAx --del {{ nextcloud_root }}/{{ nextcloud_instance_id | mandatory }}.data {{ backup_prod_dir | mandatory }}/{{ nextcloud_instance_id }}.data
#rc=$?; if [[ $rc != 0 ]]; then error "data" ; fi

cd {{ backup_prod_dir | mandatory}}/{{ nextcloud_instance_id }}
rm {{ backup_prod_dir | mandatory}}/{{ nextcloud_instance_id }}/{{ nextcloud_database_name }}.sql
chmod 777 {{ backup_prod_dir | mandatory}}/{{ nextcloud_instance_id }}
su -c "/usr/bin/pg_dump {{ nextcloud_database_name }} > {{ nextcloud_database_name }}.sql" postgres
rc=$?; if [[ $rc != 0 ]]; then fatal "sql" ; fi