
hostname: {{ ansible_hostname }}
domain: {{ nextcloud_domain }}
version: {{ nextcloud_version }}
instance : {{ nextcloud_root }}/{{ nextcloud_instance_id }}

data in {{ nextcloud_root }}/{{ nextcloud_instance_id }}.data
log dest {{ www_log }}/{{ nextcloud_instance_id }}
backup prod app {{ backup_prod_dir }}/{{ nextcloud_instance_id }}
backup prod data {{ backup_prod_dir }}/{{ nextcloud_instance_id }}.data

nextcloud_instance_id: {{ nextcloud_instance_id }}
nextcloud_root: {{ nextcloud_root }}

nextcloud_database_name: {{ nextcloud_database_name }}
nextcloud_database_user: {{ nextcloud_database_user }}
nextcloud_database_password: {{ nextcloud_database_password }}

[Inventory]
