
hostname: {{ ansible_hostname }}
domain: {{ nextcloud_domain }}
rev_proxy: {{ rev_proxy }}
old version: {{ nextcloud_oldversion }}
version: {{ nextcloud_version }}
version backup: {{ backup_version_dir }}/{{ nextcloud_instance_id }}/{{ nextcloud_oldversion }}
instance : {{ www_root }}/{{ nextcloud_instance_id }}

