#!/usr/bin/env python3

# if using virtualenv
# activate_this = '/path/to/virtualenv/bin/activate_this.py'
# +execfile(activate_this, dict(__file__=activate_this)

import sys
import logging
logging.basicConfig(stream=sys.stderr)
sys.path.insert(0,"{{ app_instance_root }}")

from {{ app_instance_id }} import app as application
