
hostname: {{ ansible_hostname }}
domain: {{ app_domain }}
version: {{ app_version }}
app_instance_id: {{ app_instance_id }}

instance : {{ app_instance_root }}
instance_www_root : {{ app_instance_www_root }}

log dest {{ www_log }}/{{ app_instance_id }}
backup prod app {{ backup_prod_dir }}/{{ app_instance_id }}

database_name: {{ database_name }}
database_user: {{ database_user }}
database_password: {{ database_password }}

[Inventory]
