
hostname: {{ ansible_hostname }}
domain: {{ app_domain }}
rev_proxy: {{ rev_proxy }}
old version: {{ app_oldversion }}
version: {{ app_version }}
version backup: {{ backup_version_dir }}/{{ app_instance_id }}/{{ app_oldversion }}
instance : {{ www_root }}/{{ app_instance_id }}

